@using PagedList;
@model IPagedList<CustomerManagementSystem.Models.客戶分類>

@{
    ViewBag.Title = "客戶分類";
}
@section Dashboard{
<li>@ViewBag.Title</li>
}

<form class="form-inline" action="">
    <div class="input-append">
        @*<input type="search" name="keyword" id="keyword" class="form-control input-sm" placeholder="請輸入關鍵字" />*@
        @Html.TextBox("keyword", null, new { @placeholder = "請輸入關鍵字" })
        <span class="input-group-btn">
            <input type="submit" value="查詢" class="btn" />
        </span>
    </div>
</form>
<br />
<p>
    @Html.ActionLink("新增", "Create")
</p>

<div class="box-content">
    <table class="table table-bordered table-striped table-condensed">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.FirstOrDefault().分類名稱)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.分類名稱)
                    </td>
                    <td>
                        <a class="btn btn-info" href="@Url.Action("Edit",new { id = item.Id })">
                            <i class="halflings-icon white edit"></i>
                        </a>
                        <a class="btn btn-success" href="@Url.Action("Details",new { id = item.Id })">
                            <i class="halflings-icon white zoom-in"></i>
                        </a>
                        <a class="btn btn-danger" href="@Url.Action("Delete",new { id = item.Id })">
                            <i class="halflings-icon white trash"></i>
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <div class="pager">
        @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
    </div>
</div>
