@using PagedList;
@model IPagedList<CustomerManagementSystem.Models.客戶聯絡人>

@{
    ViewBag.Title = "客戶聯絡人管理";
}

<h2>客戶聯絡人管理</h2>

<form class="form-inline" action="">
    <div class="input-group">
        @*<input type="search" name="keyword" id="keyword" class="form-control input-sm" placeholder="請輸入關鍵字" />*@
        @Html.DropDownList("職稱", null, "--請選擇--", htmlAttributes: new { @class = "form-control" })
        @Html.TextBox("keyword", null, new { @class = "form-control input-sm", @placeholder = "請輸入關鍵字" })
        <span class="input-group-btn">
            <input type="submit" value="查詢" class="btn btn-sm btn-default" />
        </span>
    </div>
</form>
<br />
<p>
    @Html.ActionLink("新增客戶聯絡人", "Create")｜
    <a href="javascript:void(0);" onclick="Export();">匯出</a>
</p>
@Html.Partial("_PageList聯絡人")
<div class="pager">
    @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
</div>
@section scripts{
    <script>
        function Export() {
            var cateId = $('[name=職稱]').val();
            location.href = '@Url.Action("Export")' + '/?職稱=' + cateId + '&keyword=@(ViewBag.keyword)';
        }
    </script>
}