@using PagedList;
@model IPagedList<CustomerManagementSystem.Models.vw_客戶統計>

@{
    ViewBag.Title = "清單";
    string key = ViewBag.keyword;
}

@section Dashboard{
    <li>@ViewBag.Title</li>
}
<form class="form-inline" action="@Url.Action("StatisticsList")">
    <div class="input-group">
        @*<input type="search" name="keyword" id="keyword" class="form-control input-sm" placeholder="請輸入關鍵字" />*@
        @Html.TextBox("keyword", null, new { @class = "form-control input-sm", @placeholder = "請輸入關鍵字" })
        <span class="input-group-btn">
            <input type="submit" value="查詢" class="btn btn-sm btn-default" />
        </span>
    </div>
</form>
<p><a href="javascript:void(0);" onclick="Export();">匯出</a></p>
<table class="table table-striped table-hover">
        <tr>
            <th>
                客戶名稱
            </th>
            <th>
                聯絡人數量
            </th>
            <th>
                銀行帳戶數量
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.Raw(string.IsNullOrEmpty(key) ? item.客戶名稱 : item.客戶名稱.Replace(key, string.Format("<mark>{0}</mark>", key)))
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.聯絡人數量)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.銀行帳戶數量)
                </td>
            </tr>
        }

    </table>
<div class="pager">
    @Html.PagedListPager(Model, page => Url.Action("StatisticsList", new { page }))
</div>
@section scripts{
    <script>
        function Export() {
            location.href = '@Url.Action("ExportList")' + '?keyword=@(ViewBag.keyword)';
        }
    </script>
}