@model IPagedList<CustomerManagementSystem.Models.客戶聯絡人>

@{ 
    string key = ViewBag.keyword;
    string strDisplay = ViewBag.showEdit == false ? "none" : "";
}
<div class="box-content">
<table class="table table-bordered table-striped table-condensed">
    <tr>
        <th>
            職稱
        </th>
        <th>
            姓名
        </th>
        <th>
            Email
        </th>
        <th>
            手機
        </th>
        <th>
            電話
        </th>
        <th>
            客戶名稱
        </th>
        
        <th style="display:@(strDisplay)"></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.Raw(string.IsNullOrEmpty(key) ? item.職稱 : item.職稱.Replace(key, string.Format("<mark>{0}</mark>", key)))
            </td>
            <td>
                @Html.Raw(string.IsNullOrEmpty(key) ? item.姓名 : item.姓名.Replace(key, string.Format("<mark>{0}</mark>", key)))
            </td>
            <td>
                @Html.Raw(string.IsNullOrEmpty(key) ? item.Email : item.Email.Replace(key, string.Format("<mark>{0}</mark>", key)))
            </td>
            <td>
                @Html.Raw(string.IsNullOrEmpty(key) ? item.手機 : item.手機.Replace(key, string.Format("<mark>{0}</mark>", key)))
            </td>
            <td>
                @Html.Raw(string.IsNullOrEmpty(key) ? item.電話 : item.電話.Replace(key, string.Format("<mark>{0}</mark>", key)))
            </td>
            <td>
                @Html.Raw(string.IsNullOrEmpty(key) ? item.客戶資料.客戶名稱 : item.客戶資料.客戶名稱.Replace(key, string.Format("<mark>{0}</mark>", key)))
            </td>
            <td style="display:@(strDisplay)">
                @Html.ActionLink("編輯", "Edit", new { id = item.Id }) |
                @Html.ActionLink("詳細內容", "Details", new { id = item.Id }) |
                @Html.ActionLink("刪除", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>
</div>